- if current_user

  %h3 My Letters

  %div
    - @letters.each do |letter|
      %div
        = link_to letter.title, letter_path(letter)

  %h3 Letters Shared With Me

  %div
    - @shared_letters.each do |letter|
      %div
        = link_to letter.title, letter_path(letter)

  %div
    %h4
      = link_to "Write A New Letter", new_letter_path
- else

  %h1
    Welcome to Yours Truly.
    = link_to "Sign up", sign_up_path
    for an account!
