%h3 My Letters

%div
  - @letters.each do |letter|
    %div
      = link_to letter.title, letter_path(letter)

%h3 Letters Shared With Me

%div
  - @shared_letters.each do |letter|
    %div
      = link_to letter.title, letter_path(letter)
